*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Circular Std', sans-serif;
}
header{
  background-color: #080b12;
  height: 10vh;
  text-transform:uppercase ;
  align-items: center;

}
.logo-small{
  display: none;
}
.head-logo, nav{
  height: 100%;
  width: 25vh;
  background-color: black;
}
.head-logo img{
  width: 75%;
  margin:.8rem;
}
.btn-large{
  border-radius: 40px;
  padding: .5rem;
  border: solid white;
  height: 50%;
}
a{
  text-decoration: none;
  color: white;
}
main{
  background-color: #141922;
  height: 78vh;
}
footer{
  background-color: #282828;
  height: 12vh;
}
/* common classes */
.d-flex{
  display: flex;
}
.flex-betw{
  justify-content: space-between;
}