*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Circular Std', sans-serif;
  color: white;
}
/* header */
header{
  background-color: #080b12;
  height: 77px;
  text-transform:uppercase ;
  align-items: center;
}
.logo-small{
  display: none;
}
.container-btn{
  overflow: hidden;
}
.head-logo, nav{
  height:77px;
  width: 205px;
  background-color: black;
}
.container-logo{
  height: 40px;
}
.container-logo img{
  height:100%;
  margin:.8rem;
}
.btn-large{
  border-radius: 40px;
  padding: .5rem;
  border: solid white;
  margin-right: 5px;
}
/* end header */
a{
  text-decoration: none;
}
main{
  background-color: #141922;
  height: calc(100vh - 152px);
  width: 100vw;
}
/* common classes */
.d-flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.flex-betw{
  justify-content: space-between;
}
.white{
  color: white;
}
.gray, a{
  color: #626262;
}
ul li{
  list-style: none;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
/* nav*/
nav{
  height: 100%;
  width: 205px;
  overflow: hidden;
  min-height: 350px;
}
nav ul li{
  padding: .5rem;
}
nav ul li i{
  width: 10%;
  text-align: center;
  margin-right: .5rem;
}
.border-green{
  border-left: #b9ff32 solid ;
}
nav h3{
  text-transform: uppercase;
  padding: .5rem;
}
.nav-list{
  overflow: auto;
}
.nav-list{
  height: 40vh;
  font-size: .8rem;
}
.nav-user{
  overflow: hidden;
}
.plus{
  background-color: #a3a3a3;
  color: black;
  display: inline-block;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.nav-list span{
  vertical-align: super;
}
.nav-user div:first-child{
  border-bottom: #626262 solid;
  font-size: .8rem;
}
.user{
  font-size: 1.2rem;
}
.nav-user span{
  margin-left: .5rem;
}
.nav-user div{
  padding: .5rem;
}
/* end nav */
/* start main nav */
.main-navbar ul li{
  display: inline-block;
  text-transform: uppercase;
  margin-right: .8rem;
  margin-top: .8rem;
}
.underline{
  border: solid #b9ff32;
  width: 35%;
  margin-left: 32%;
}
.main-navbar{
  justify-content: center;
  width: 100%;
}
.main-navbar ul{
  flex-wrap: wrap;
  justify-content: space-around;
}
/* end main nav */
.container{
  width: calc(100vw - 205px);
  font-size: .9rem;
  padding: 1rem;
  overflow: auto;
}
.row{
  justify-content: flex-start;
  gap: 2rem;
}
.container h2{
  margin: 2rem 0 1.5rem;
}
.row .card{
  width: 14%;
  font-size: .7rem;
  text-align: center;
}
.row img{
  width: 100%;
}
.container h2{
  margin: 10px 0;
}
.container p{
  margin: 10px 0;
}
.img-border-radius img{
  border-radius: 50%;
}
/* end main */
/* start footer */
footer{
  background-color: #282828;
  height: 75px;
  position: relative;
}
.aside-footer{
  width: 215px;
  margin: 10px;
}
.title-img{
  padding: 10px 10px 1px;
}
.aside-footer p {
  font-size: .8rem;
}
.aside-footer .btn-footer{
  padding: 20px 0;
  margin-left: 20px;
}
#aside-img{
  width: 55px;
}
#aside-img img{
  width: 100%;
}
#center-footer{
  width: calc(100% - 430px);
}
.button-center-footer{
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 50%;
}
.fa-play-circle{
  font-size: 1.5rem;
}
.down-bar{
  height: 50%;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
.down-bar span{
  font-size: .7rem;
  margin:0 10px;
}
.bar-below{
  background-color: gray;
  border-radius: 2px;
  height: 4px;
  vertical-align: middle;
}
.bar-above{
  height: 4px;
  background-color: white;
  border-radius: 2px;
}
.big-bar-below{
  width: 70%;
}
.big-bar-above{
  width: 15%;
}
.small-bar-below{
  width: 120px;
}
.small-bar-above{
  width: 30px;
}
.right-aside{
  align-items: center;
  gap: 15px;
}
/* end footer */
/* start hover */
/* hover card */
.card:hover .overlay{
  background-color: rgba(0, 0, 0 , .4);
}
.card:hover .card-play{
  display: block;
}
.overlay{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.card-play{
  display: none;
}
.card-play i{
  font-size: 3rem;
}
.radius-overlay{
  border-radius: 50%;
}
/* end hover card */
.btn-large:hover{
  padding: 15px;
}
a:hover{
  color: white;
}
footer a:hover{
  text-decoration: underline white;
}
li:hover .plus{
  background-color: white;
}
footer .fa-play-circle:hover{
  font-size: 2rem;
}
.ball{
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  bottom: 5px;
  left: 98%;
  display: none;
}
.bar-below:hover .ball{
  display: block;
}
.bar-below:hover .bar-above{
  background-color: #b9ff32;
}